<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">Uhhhh.. What were you looking 404 mr chickenhead.?
      <span role="img" aria-label="Face with rolling eyes">🙄</span>
    </h1>
    <a href="/">← Back To Home</a>
  </div>
</div>

{{!-- <div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">{{User.first_name. User.last_name}}</h5>
          <p>
            <strong>ID</strong>: {{Inventory.id}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{Inventory.product_name}}</p>
          <p>
            <strong>Description:</strong> {{Inventory.description}}</p>
             <p>
            <strong>Condition:</strong> {{Inventory.condition}}</p>
             <p>
            <strong>price:</strong> {{Inventory.price}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div> --}}
