<div class="jumbotron" style="background-color: #fff" id="home">

  <div class="container">
    <div class="row">
      <div class="col-2"></div>
      <div class="container col-7">
       <h1 class="text-center border-dark">Friendly Neighbors</h1>
      </div> 
      <div class="col"></div>

      {{!-- Login Button  --}}
      <a href= "/"><button type="button" class="col btn-outline-primary btn" id="return-btn">
       Back to Home
      </button></a>
    </div>
  </div>
</div> 
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4" style="background-color: #e3f2fd;">
        <div class="card-body">
          <h5 class="card-title">Inventory</h5>
          {{!-- <p>
            <strong>ID</strong>: {{inventory.id}}</p>
          <p> --}}
          <p>
            <strong>Item</strong>: {{inventory.product_name}}
          </p>
          <p><b>Category</b>: {{inventory.category}}</p>
          <p><strong>Price</strong>: {{inventory.price}}</p>
          <p>
            <strong>Description</strong>: {{inventory.description}}</p>
    
        </div>
      </div>
    </div>
  </div>
</div>
