<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title"></h5>
          {{!-- <h4>{{Users.first_name. Users.last_name}}</h4> --}}
            
          <p>
            <strong>ID</strong>: {{Inventory.id}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{Inventory.product_name}}</p>
          <p>
            <strong>Description:</strong> {{Inventory.description}}</p>
             <p>
            <strong>Condition:</strong> {{Inventory.condition}}</p>
             <p>
            <strong>price:</strong> {{Inventory.price}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
